        html {
            position: relative;
            min-height: 100%;
        }
        
        body {
            font-size: 16px;
            color: #f0f0f0;
            margin-bottom: 60px;
            background-color: rgb(36, 36, 36);
            font-family: 'Montserrat', sans-serif;
        }
        /** HEADER SECTION **/
        
        #header-nav {
            width: 100%;
            color: #f0f0f0;
            border-radius: 0;
            border: 0;
            background-color: #880000;
        }
        
        .navbar-brand {
            padding-top: 25px;
        }
        
        .navbar-brand h1 {
            /* Restaurant name */
            font-family: 'Anton', sans-serif;
            color: #ababab;
            text-transform: uppercase;
            font-size: 2.7em;
            font-weight: regular;
            text-shadow: 2px 2px 2px #222;
            margin-top: 0;
            margin-bottom: 0;
            line-height: .75;
        }
        
        .navbar-header button.navbar-toggle,
        .navbar-header .icon-bar {
            borger: 1px solid #ababab;
        }
        
        .navbar-header button.navbar-toggle {
            clear: both;
            margin-top: -25px;
        }
        
        .navbar-brand p {
            color: #ababab;
            padding-top: 5px;
        }
        
        #collapsable-nav a {
            /* Collapsed nav menu items text */
            font-size: 1.2em;
        }
        
        #collapsable-nav a span {
            /* Collapsed nav menu glyph */
            font-size: 1em;
            margin-right: 5px;
        }
        
        .navbar-brand a:hover,
        .navbar-brand a:focus,
        .navbar-brand p:hover,
        .navbar-brand p:focus {
            text-decoration: none;
        }
        
        #nav-list {
            margin-top: 10px;
        }
        
        #nav-list a {
            color: #ababab;
            text-align: center;
        }
        
        #nav-list a:hover {
            background: #cc0000;
        }
        /* END HEADER */
        /* Home Page */
        
        #chicken-tile,
        #beef-tile,
        #sushi-tile {
            height: autopx;
            width: 100%;
            margin-bottom: 15px;
            position: relative;
            border: 2px solid #ccbbaa;
            overflow: hidden;
        }
        
        #chicken-tile:hover,
        #beef-tile:hover,
        #sushi-tile:hover {
            box-shadow: 0 1px 5px 1px #ccbbaa;
        }
        
        #chicken-tile span,
        #beef-tile span,
        #sushi-tile span {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            text-align: center;
            font-size: 1.6em;
            text-transform: uppercase;
            background-color: #880000;
            color: #ababab;
            opacity: .8;
        }
        
        .inner-text {
            text-decoration: none;
            text-align: left;
            color: #ababab;
            padding: 10px 5px 5px 5px;
        }
        
        .backref {
            text-align: left;
            color: #ababab;
            padding: 5px 5px 5px 5px;
            text-shadow: 2px 2px 2px #222;
        }
        
        h2 {
            font-family: 'Oxygen', sans-serif;
            color: #ababab;
            text-shadow: 2px 2px 2px #222;
        }
        /* End Home Page */
        /* Large devices only */
        
        @media (min-width: 1200px) {
            .container .jumbotron {
                background: url('../images/interior_1200.jpg') no-repeat;
                height: 675px;
            }
        }
        /* Medium devices only */
        
        @media (min-width: 992px) and (max-width: 1199px) {
            /* Header */
            .navbar-brand {
                padding-top: 20px;
                height: 100px;
            }
            .navbar-brand p {
                font-size: 0.9em;
                margin-top: 6px;
                margin-bottom: 0px;
            }
            #nav-list a {
                font-size: 0.9em;
            }
            /* End Header*/
            /* Home Page */
            .container .jumbotron {
                background: url('../images/interior_992.jpg') no-repeat;
                height: 558px;
            }
            /* End Home Page */
        }
        /* Small devices only */
        
        @media (min-width: 768px) and (max-width: 991px) {
            /* Header */
            .navbar-brand {
                padding-top: 10px;
                height: 80px;
            }
            .navbar-brand p {
                font-size: 0.9em;
                margin-top: 6px;
            }
            .navbar-header {
                height: 120px;
            }
            #nav-list a {
                font-size: 0.8em;
            }
            /* End Header */
            /* Home Page */
            /* End Home Page */
        }
        /* Extra-small devices only */
        
        @media (max-width: 767px) {
            /* Header */
            .navbar-brand {
                padding-top: 10px;
                height: 80px;
            }
            .navbar-brand h1 {
                padding-top: 10px;
                font-size: 8vw;
            }
            .navbar-brand p {
                font-size: 0.8em;
                margin-top: 5px;
            }
            #collapsable-nav a {
                font-size: 1.2em;
            }
            #collapsable-nav a span {
                font-size: 1em;
                margin-right: 5px;
            }
            /* End Header */
            /* Home Page */
            #chicken-tile,
            #beef-tile {
                width: 360px;
                margin: 0 auto 15px;
            }
            .menu-item-photo {
                margin-right: auto;
            }
            .menu-item-tile .menu-item-price {
                text-align: center;
            }
            .menu-item-description {
                text-align: center;
            }
            /* End Home Page */
            /* Footer */
            .panel-footer section {
                margin-bottom: 30px;
                text-align: center;
            }
            .panel-footer section:nth-child(3) {
                margin-bottom: 0;
                /* margin already exists on this row */
            }
            .panel-footer section hr {
                width: 50%;
            }
            /* End Footer */
        }
        /* Super extra small devices only*/
        
        @media (max-width: 479px) {
            /* Header */
            .navbar-brand h1 {
                padding-top: 5px;
                font-size: 6vw;
            }
            /* End Header */
            /* Home Page */
            #chicken-tile,
            #beef-tile,
            #sushi-tile {
                width: 280px;
                margin: 0 auto 15px;
            }
            .col-xxs-12 {
                position: relative;
                min-height: 1px;
                padding-right: 15px;
                padding-left: 15px;
                float: left;
                width: 100%;
            }
            /* End Home Page */
        }
        
        .panel-footer {
            position: absolute;
            margin-top: 10px;
            padding-top: 35px;
            padding-bottom: 30px;
            width: 100%;
            color: #ababab;
            background-color: #222;
            border-top: 0;
        }
        
        .panel-footer div.row {
            margin-bottom: 35px;
        }